In [11]:
import requests
import pandas as pd

fs_url = 'http://comp.fnguide.com/SVO2/ASP/SVD_Finance.asp?pGB=1&gicode=A180640&cID=&MenuYn=Y&ReportGB=&NewMenuID=103&stkGb=701'
fs_page = requests.get(fs_url)
fs_tables = pd.read_html(fs_page.text) # 6개 재무제표가 포함된 리스트
print(fs_tables)

[                              IFRS(연결)  2016/12  2017/12  2018/12  2019/09  \
0                                  매출액   9910.0  11497.0  13049.0   9469.0
1                                 매출원가   7980.0   9324.0  10463.0   7970.0
2                                매출총이익   1930.0   2172.0   2586.0   1499.0
3                판매비와관리비계산에 참여한 계정 펼치기    941.0   1019.0   1498.0   1062.0
4                                 영업이익    990.0   1153.0   1088.0    437.0
5                   금융수익계산에 참여한 계정 펼치기     50.0     67.0    128.0    115.0
6                   금융원가계산에 참여한 계정 펼치기    251.0    290.0    244.0    324.0
7                   기타수익계산에 참여한 계정 펼치기    194.0    129.0    125.0    221.0
8                   기타비용계산에 참여한 계정 펼치기   3467.0    153.0    180.0    353.0
9   종속기업,공동지배기업및관계기업관련손익계산에 참여한 계정 펼치기  -2035.0   1771.0   -908.0  -2473.0
10                            세전계속사업이익  -4519.0   2676.0      8.0  -2377.0
11                               법인세비용   -555.0    385.0    185.0      4.0
12                              계속영업이익  -3964.0   2291.0   -177.0  -2380.0
13                              중단영업이익      NaN      NaN      NaN      NaN
14                               당기순이익  -3964.0   2291.0   -177.0  -2380.0
15                             지배주주순이익  -4068.0   2219.0   -408.0  -2392.0
16                            비지배주주순이익    104.0     72.0    231.0     12.0

       전년동기 전년동기(%)
0   10066.0    -5.9
1    7788.0     2.3
2    2279.0   -34.2
3    1072.0    -0.9
4    1207.0   -63.8
5      98.0    17.2
6     180.0    80.0
7      75.0   193.2
8     165.0   114.6
9    -354.0    적자지속
10    682.0    적자전환
11    265.0   -98.6
12    417.0    적자전환
13      NaN     NaN
14    417.0    적자전환
15    130.0    적자전환
16    287.0   -95.9  ,                               IFRS(연결)  2018/12  2019/03  2019/06  2019/09  \
0                                  매출액   2982.0   3571.0   2882.0   3016.0
1                                 매출원가   2675.0   2605.0   2678.0   2687.0
2                                매출총이익    308.0    966.0    205.0    329.0
3                판매비와관리비계산에 참여한 계정 펼치기    427.0    368.0    360.0    335.0
4                                 영업이익   -119.0    598.0   -155.0     -6.0
5                   금융수익계산에 참여한 계정 펼치기     29.0     25.0     68.0     22.0
6                   금융원가계산에 참여한 계정 펼치기     64.0    113.0    107.0    104.0
7                   기타수익계산에 참여한 계정 펼치기     50.0     57.0     28.0    136.0
8                   기타비용계산에 참여한 계정 펼치기     15.0    113.0     90.0    151.0
9   종속기업,공동지배기업및관계기업관련손익계산에 참여한 계정 펼치기   -554.0   -278.0  -1321.0   -875.0
10                            세전계속사업이익   -673.0    177.0  -1577.0   -977.0
11                               법인세비용    -80.0    115.0    -64.0    -47.0
12                              계속영업이익   -594.0     62.0  -1513.0   -930.0
13                              중단영업이익      NaN      NaN      NaN      NaN
14                               당기순이익   -594.0     62.0  -1513.0   -930.0
15                             지배주주순이익   -538.0    -80.0  -1418.0   -894.0
16                            비지배주주순이익    -56.0    142.0    -94.0    -36.0

      전년동기 전년동기(%)
0   3560.0   -15.3
1   2842.0    -5.4
2    718.0   -54.3
3    350.0    -4.3
4    368.0    적자전환
5     34.0   -35.9
6     60.0    71.5
7      4.0  3259.9
8     13.0  1068.2
9    662.0    적자전환
10   995.0    적자전환
11    91.0    적자전환
12   904.0    적자전환
13     NaN     NaN
14   904.0    적자전환
15   815.0    적자전환
16    89.0    적자전환  ,                   IFRS(연결)  2016/12  2017/12  2018/12  2019/09
0                       자산  20620.0  27758.0  28113.0  26849.0
1       유동자산계산에 참여한 계정 펼치기   3785.0   7256.0   8543.0   6869.0
2      비유동자산계산에 참여한 계정 펼치기  16835.0  20502.0  19570.0  19980.0
3                  기타금융업자산      NaN      NaN      NaN      NaN
4                       부채   9591.0  10661.0  11275.0  12525.0
5       유동부채계산에 참여한 계정 펼치기   7603.0   7363.0   6521.0   5442.0
6      비유동부채계산에 참여한 계정 펼치기   1988.0   3297.0   4755.0   7082.0
7                  기타금융업부채      NaN      NaN      NaN      NaN
8                       자본  11030.0  17097.0  16838.0  14324.0
9   지배기업주주지분계산에 참여한 계정 펼치기  10017.0  15214.0  14818.0  12394.0
10                 비지배주주지분   1013.0   1883.0   2020.0   1930.0,                   IFRS(연결)  2018/12  2019/03  2019/06  2019/09
0                       자산  28113.0  30407.0  29130.0  26849.0
1       유동자산계산에 참여한 계정 펼치기   8543.0   7888.0   8126.0   6869.0
2      비유동자산계산에 참여한 계정 펼치기  19570.0  22519.0  21004.0  19980.0
3                  기타금융업자산      NaN      NaN      NaN      NaN
4                       부채  11275.0  13710.0  13864.0  12525.0
5       유동부채계산에 참여한 계정 펼치기   6521.0   7324.0   6621.0   5442.0
6      비유동부채계산에 참여한 계정 펼치기   4755.0   6386.0   7243.0   7082.0
7                  기타금융업부채      NaN      NaN      NaN      NaN
8                       자본  16838.0  16697.0  15266.0  14324.0
9   지배기업주주지분계산에 참여한 계정 펼치기  14818.0  14601.0  13273.0  12394.0
10                 비지배주주지분   2020.0   2096.0   1994.0   1930.0,                                 IFRS(연결)  2016/12  2017/12  2018/12  2019/09
0                           영업활동으로인한현금흐름   1388.0   1644.0    782.0   1046.0
1                                  당기순손익  -3964.0   2291.0   -177.0  -2380.0
2                         법인세비용차감전계속사업이익      NaN      NaN      NaN      NaN
3             현금유출이없는비용등가산계산에 참여한 계정 펼치기   6176.0   1344.0   2062.0   4242.0
4           (현금유입이없는수익등차감)계산에 참여한 계정 펼치기    730.0   1903.0    254.0    238.0
5   영업활동으로인한자산부채변동(운전자본변동)계산에 참여한 계정 펼치기     22.0     95.0    -73.0   -579.0
6                           *영업에서창출된현금흐름   1504.0   1827.0   1559.0   1045.0
7           기타영업활동으로인한현금흐름계산에 참여한 계정 펼치기   -116.0   -183.0   -777.0      1.0
8                           투자활동으로인한현금흐름  -2570.0  -3130.0  -2824.0   2327.0
9            투자활동으로인한현금유입액계산에 참여한 계정 펼치기    264.0   5398.0   6450.0  12347.0
10         (투자활동으로인한현금유출액)계산에 참여한 계정 펼치기   2834.0   8528.0   9274.0  10020.0
11          기타투자활동으로인한현금흐름계산에 참여한 계정 펼치기      NaN      NaN      NaN      NaN
12                          재무활동으로인한현금흐름    807.0   3140.0    543.0  -2593.0
13           재무활동으로인한현금유입액계산에 참여한 계정 펼치기   2702.0   7844.0   2827.0   1866.0
14         (재무활동으로인한현금유출액)계산에 참여한 계정 펼치기   1542.0   4354.0   1919.0   3902.0
15          기타재무활동으로인한현금흐름계산에 참여한 계정 펼치기   -353.0   -350.0   -365.0   -557.0
16                        영업투자재무활동기타현금흐름      NaN      NaN      NaN      NaN
17                       연결범위변동으로인한현금의증가      NaN      NaN      NaN      NaN
18                                환율변동효과     -4.0    -23.0      8.0     12.0
19                           현금및현금성자산의증가   -380.0   1631.0  -1491.0    792.0
20                            기초현금및현금성자산   1211.0    832.0   2463.0    972.0
21                            기말현금및현금성자산    832.0   2463.0    972.0   1764.0,                                 IFRS(연결)  2018/12  2019/03  2019/06  2019/09
0                           영업활동으로인한현금흐름    211.0    832.0    282.0    -68.0
1                                  당기순손익   -594.0     62.0  -1513.0   -930.0
2                         법인세비용차감전계속사업이익      NaN      NaN      NaN      NaN
3             현금유출이없는비용등가산계산에 참여한 계정 펼치기    652.0    981.0   1819.0   1442.0
4           (현금유입이없는수익등차감)계산에 참여한 계정 펼치기      5.0     70.0     49.0    118.0
5   영업활동으로인한자산부채변동(운전자본변동)계산에 참여한 계정 펼치기    221.0   -135.0    -22.0   -421.0
6                           *영업에서창출된현금흐름    274.0    838.0    235.0    -28.0
7           기타영업활동으로인한현금흐름계산에 참여한 계정 펼치기    -64.0     -5.0     47.0    -41.0
8                           투자활동으로인한현금흐름   -817.0   1190.0    127.0   1010.0
9            투자활동으로인한현금유입액계산에 참여한 계정 펼치기   2651.0   3114.0   4464.0   4769.0
10         (투자활동으로인한현금유출액)계산에 참여한 계정 펼치기   3468.0   1924.0   4337.0   3759.0
11          기타투자활동으로인한현금흐름계산에 참여한 계정 펼치기      NaN      NaN      NaN      NaN
12                          재무활동으로인한현금흐름    831.0  -1630.0     62.0  -1025.0
13           재무활동으로인한현금유입액계산에 참여한 계정 펼치기   1640.0      NaN    877.0    990.0
14         (재무활동으로인한현금유출액)계산에 참여한 계정 펼치기    745.0   1470.0    522.0   1911.0
15          기타재무활동으로인한현금흐름계산에 참여한 계정 펼치기    -64.0   -160.0   -293.0   -104.0
16                        영업투자재무활동기타현금흐름      NaN      NaN      NaN      NaN
17                       연결범위변동으로인한현금의증가      NaN      NaN      NaN      NaN
18                                환율변동효과      4.0      3.0      3.0      6.0
19                           현금및현금성자산의증가    228.0    396.0    473.0    -77.0
20                            기초현금및현금성자산    744.0    972.0   1368.0   1841.0
21                            기말현금및현금성자산    972.0   1368.0   1841.0   1764.0]

In [12]:
fs_tables[0]

,IFRS(연결),2016/12,2017/12,2018/12,2019/09,전년동기,전년동기(%)
0,매출액,9910.0,11497.0,13049.0,9469.0,10066.0,-5.9
1,매출원가,7980.0,9324.0,10463.0,7970.0,7788.0,2.3
2,매출총이익,1930.0,2172.0,2586.0,1499.0,2279.0,-34.2
3,판매비와관리비계산에 참여한 계정 펼치기,941.0,1019.0,1498.0,1062.0,1072.0,-0.9
4,영업이익,990.0,1153.0,1088.0,437.0,1207.0,-63.8
5,금융수익계산에 참여한 계정 펼치기,50.0,67.0,128.0,115.0,98.0,17.2
6,금융원가계산에 참여한 계정 펼치기,251.0,290.0,244.0,324.0,180.0,80.0
7,기타수익계산에 참여한 계정 펼치기,194.0,129.0,125.0,221.0,75.0,193.2
8,기타비용계산에 참여한 계정 펼치기,3467.0,153.0,180.0,353.0,165.0,114.6
9,"종속기업,공동지배기업및관계기업관련손익계산에 참여한 계정 펼치기",-2035.0,1771.0,-908.0,-2473.0,-354.0,적자지속
10,세전계속사업이익,-4519.0,2676.0,8.0,-2377.0,682.0,적자전환
11,법인세비용,-555.0,385.0,185.0,4.0,265.0,-98.6
12,계속영업이익,-3964.0,2291.0,-177.0,-2380.0,417.0,적자전환
13,중단영업이익,NaN,NaN,NaN,NaN,NaN,NaN
14,당기순이익,-3964.0,2291.0,-177.0,-2380.0,417.0,적자전환
15,지배주주순이익,-4068.0,2219.0,-408.0,-2392.0,130.0,적자전환
16,비지배주주순이익,104.0,72.0,231.0,12.0,287.0,-95.9

In [13]:
temp_df = fs_tables[0]
temp_df = temp_df.set_index('IFRS(연결)')
temp_df = temp_df[['2016/12', '2017/12', '2018/12', '2019/09']]

In [14]:
temp_df

                                    2016/12  2017/12  2018/12  2019/09
IFRS(연결)
매출액                                  9910.0  11497.0  13049.0   9469.0
매출원가                                 7980.0   9324.0  10463.0   7970.0
매출총이익                                1930.0   2172.0   2586.0   1499.0
판매비와관리비계산에 참여한 계정 펼치기                 941.0   1019.0   1498.0   1062.0
영업이익                                  990.0   1153.0   1088.0    437.0
금융수익계산에 참여한 계정 펼치기                     50.0     67.0    128.0    115.0
금융원가계산에 참여한 계정 펼치기                    251.0    290.0    244.0    324.0
기타수익계산에 참여한 계정 펼치기                    194.0    129.0    125.0    221.0
기타비용계산에 참여한 계정 펼치기                   3467.0    153.0    180.0    353.0
종속기업,공동지배기업및관계기업관련손익계산에 참여한 계정 펼치기  -2035.0   1771.0   -908.0  -2473.0
세전계속사업이익                            -4519.0   2676.0      8.0  -2377.0
법인세비용                                -555.0    385.0    185.0      4.0
계속영업이익                              -3964.0   2291.0   -177.0  -2380.0
중단영업이익                                  NaN      NaN      NaN      NaN
당기순이익                               -3964.0   2291.0   -177.0  -2380.0
지배주주순이익                             -4068.0   2219.0   -408.0  -2392.0
비지배주주순이익                              104.0     72.0    231.0     12.0

In [15]:
temp_df = temp_df.loc[['매출액', '영업이익', '당기순이익']]

In [16]:
temp_df

          2016/12  2017/12  2018/12  2019/09
IFRS(연결)
매출액        9910.0  11497.0  13049.0   9469.0
영업이익        990.0   1153.0   1088.0    437.0
당기순이익     -3964.0   2291.0   -177.0  -2380.0

In [19]:
temp_df2 = fs_tables[2]
temp_df2 = temp_df2.set_index('IFRS(연결)')
temp_df2 = temp_df2.loc[['자산', '부채', '자본']]

temp_df3 = fs_tables[4]
temp_df3 = temp_df3.set_index('IFRS(연결)')
temp_df3 = temp_df3.loc[['영업활동으로인한현금흐름']]

In [20]:
temp_df2

          2016/12  2017/12  2018/12  2019/09
IFRS(연결)
자산        20620.0  27758.0  28113.0  26849.0
부채         9591.0  10661.0  11275.0  12525.0
자본        11030.0  17097.0  16838.0  14324.0

In [21]:
temp_df3

              2016/12  2017/12  2018/12  2019/09
IFRS(연결)
영업활동으로인한현금흐름   1388.0   1644.0    782.0   1046.0

In [22]:
fs_df = pd.concat([temp_df, temp_df2, temp_df3])

In [23]:
fs_df

              2016/12  2017/12  2018/12  2019/09
IFRS(연결)
매출액            9910.0  11497.0  13049.0   9469.0
영업이익            990.0   1153.0   1088.0    437.0
당기순이익         -3964.0   2291.0   -177.0  -2380.0
자산            20620.0  27758.0  28113.0  26849.0
부채             9591.0  10661.0  11275.0  12525.0
자본            11030.0  17097.0  16838.0  14324.0
영업활동으로인한현금흐름   1388.0   1644.0    782.0   1046.0

In [47]:
  fsdfdef make_fs_dataframe(firm_code):
    fs_url = 'http://comp.fnguide.com/SVO2/ASP/SVD_Finance.asp?pGB=1&cID=&MenuYn=Y&ReportGB=&NewMenuID=103&stkGb=701&gicode='+firm_code
    fs_page = requests.get(fs_url)
    fs_tables = pd.read_html(fs_page.text)

    temp_df = fs_tables[0]
    temp_df = temp_df.set_index(temp_df.columns[0])
    temp_df = temp_df[temp_df.columns[:4]]
    temp_df = temp_df.loc[['매출액', '영업이익', '당기순이익']]

    temp_df2 = fs_tables[2]
    temp_df2 = temp_df2.set_index(temp_df2.columns[0])
    temp_df2 = temp_df2.loc[['자산', '부채', '자본']]

    temp_df3 = fs_tables[4]
    temp_df3 = temp_df3.set_index(temp_df3.columns[0])
    temp_df3 = temp_df3.loc[['영업활동으로인한현금흐름']]

    fs_df = pd.concat([temp_df, temp_df2, temp_df3])

    return fs_df

In [48]:
make_fs_dataframe('A180640')

              2016/12  2017/12  2018/12  2019/09
IFRS(연결)
매출액            9910.0  11497.0  13049.0   9469.0
영업이익            990.0   1153.0   1088.0    437.0
당기순이익         -3964.0   2291.0   -177.0  -2380.0
자산            20620.0  27758.0  28113.0  26849.0
부채             9591.0  10661.0  11275.0  12525.0
자본            11030.0  17097.0  16838.0  14324.0
영업활동으로인한현금흐름   1388.0   1644.0    782.0   1046.0

In [63]:
code = 'A005930'
fs_df = make_fs_dataframe(code)
temp_df = pd.DataFrame({code: fs_df['2016/12']})
temp_df = temp_df.T
temp_df.columns = [['2016/12']*len(fs_df), temp_df.columns]

In [64]:
temp_df

            2016/12                                                      \
IFRS(연결)        매출액      영업이익     당기순이익         자산        부채         자본
A005930   2018667.0  292407.0  227261.0  2621743.0  692113.0  1929630.0


IFRS(연결) 영업활동으로인한현금흐름
A005930      473856.0

In [65]:
code = 'A005930'
fs_df = make_fs_dataframe(code)

for num, col in enumerate(fs_df.columns):
    temp_df = pd.DataFrame({code: fs_df[col]})
    temp_df = temp_df.T
    temp_df.columns = [[col]*len(fs_df), temp_df.columns]
    if num == 0:
        total_df = temp_df
    else:
        total_df = pd.merge(total_df, temp_df, how='outer', left_index=True, right_index=True)

In [66]:
total_df

            2016/12                                                      \
IFRS(연결)        매출액      영업이익     당기순이익         자산        부채         자본
A005930   2018667.0  292407.0  227261.0  2621743.0  692113.0  1929630.0

                         2017/12                      ...   2018/12  \
IFRS(연결) 영업활동으로인한현금흐름        매출액      영업이익     당기순이익  ...        부채
A005930      473856.0  2395754.0  536450.0  421867.0  ...  916041.0

                                    2019/12                                 \
IFRS(연결)         자본 영업활동으로인한현금흐름        매출액      영업이익     당기순이익         자산
A005930   2477532.0     670319.0  2304009.0  277685.0  217389.0  3525645.0


IFRS(연결)        부채         자본 영업활동으로인한현금흐름
A005930   896841.0  2628804.0     453829.0

[1 rows x 28 columns]

In [84]:
def change_df(firm_code, dataframe):
    for num, col in enumerate(dataframe.columns):
        temp_df = pd.DataFrame({firm_code : dataframe[col]})
        temp_df = temp_df.T
        temp_df.columns = [[col]*len(dataframe), temp_df.columns]
    if num == 0:
        total_df = temp_df
    else:
        total_df = pd.merge(total_df, temp_df, how='outer', left_index=True, right_index=True)
        
    return total_df

In [85]:
firmcode_list = ['A005930', 'A005380', 'A005930', 'A005930', 'A005930']

for num, code in enumerate(firmcode_list):
    fs_df = make_fs_dataframe(code)
    fs_df_changed = change_df(code, fs_df)
    if num == 0:
        total_fs = fs_df_changed
    else:
        total_fs = pd.concat([total_fs, fs_df_changed])

UnboundLocalError: local variable 'total_df' referenced before assignment