In [2]:
import pandas as pd

# 시리즈 만들기

In [4]:
s = pd.Series(['banana', 42])
print(s)

0    banana
1        42
dtype: object

In [5]:
s = pd.Series(['Wes McKinney', 'Creator of Pandas'])
print(s)

0         Wes McKinney
1    Creator of Pandas
dtype: object

In [6]:
s = pd.Series(['Wes McKinney', 'Creator of Pandas'], index=['Person', 'Who'])
print(s)

Person         Wes McKinney
Who       Creator of Pandas
dtype: object

# 데이터프레임 만들기

In [10]:
scientists = pd.DataFrame({
    'Name': ['Rosaline Franklin', 'William Gosset'],
    'Occupation': ['Chemist', 'Statistician'],
    'Born': ['1920-07-25', '1875-06-13'],
    'Died': ['1958-04-16', '1937-10-16'],
    'Age': [37, 61]
})
print(scientists)

                Name    Occupation        Born        Died  Age
0  Rosaline Franklin       Chemist  1920-07-25  1958-04-16   37
1     William Gosset  Statistician  1875-06-13  1937-10-16   61

In [11]:
scientists = pd.DataFrame(
    data={
    'Occupation': ['Chemist', 'Statistician'],
    'Born': ['1920-07-25', '1875-06-13'],
    'Died': ['1958-04-16', '1937-10-16'],
    'Age': [37, 61]
    },
    index=['Rosaline Franklin', 'William Gosset'],
    columns=['Occupation', 'Born', 'Age', 'Died']
)
print(scientists)

                     Occupation        Born  Age        Died
Rosaline Franklin       Chemist  1920-07-25   37  1958-04-16
William Gosset     Statistician  1875-06-13   61  1937-10-16

In [17]:
from collections import OrderedDict

scientists = pd.DataFrame(OrderedDict([
    ('Name', ['Rosaline Franklin', 'William Gosset']),
    ('Occupation', ['Chemist', 'Statistician']),
    ('Born', ['1920-07-25', '1875-06-13']),
    ('Died', ['1958-04-16', '1937-10-16']),
    ('Age', [37, 61])
])
)
print(scientists)

                Name    Occupation        Born        Died  Age
0  Rosaline Franklin       Chemist  1920-07-25  1958-04-16   37
1     William Gosset  Statistician  1875-06-13  1937-10-16   61

# 데이터프레임에서 시리즈 선택하기

In [23]:
scientists = pd.DataFrame(
    data={'Occupation': ['Chemist', 'Statistician'],
              'Born': ['1920-07-25', '1875-06-13'],
              'Died': ['1958-04-16', '1937-10-16'],
              'Age': [37, 61]},
    index=['Rosaline Franklin', 'William Gosset'],
    columns=['Occupation', 'Born', 'Died', 'Age'])

In [26]:
first_row = scientists.loc['William Gosset']
print(type(first_row))

<class 'pandas.core.series.Series'>

# index, values, keys 사용하기

In [27]:
print(first_row.index)

Index(['Occupation', 'Born', 'Died', 'Age'], dtype='object')

In [28]:
print(first_row.values)

['Statistician' '1875-06-13' '1937-10-16' 61]

In [30]:
print(first_row.keys())

Index(['Occupation', 'Born', 'Died', 'Age'], dtype='object')

In [31]:
print(first_row.index[0])

Occupation

In [32]:
print(first_row.keys()[0])

Occupation

# 시리즈의 mean, min, max, std 메서드 사용하기

In [34]:
ages = scientists['Age']
print(ages)

Rosaline Franklin    37
William Gosset       61
Name: Age, dtype: int64

In [35]:
print(ages.mean())

49.0

In [36]:
print(ages.min())

37

In [37]:
print(ages.max())

61

In [39]:
print(ages.std())

16.97056274847714

In [41]:
print(ages.describe())

count     2.000000
mean     49.000000
std      16.970563
min      37.000000
25%      43.000000
50%      49.000000
75%      55.000000
max      61.000000
Name: Age, dtype: float64

In [43]:
print(ages.drop_duplicates())

Rosaline Franklin    37
William Gosset       61
Name: Age, dtype: int64

In [47]:
print(ages.equals())

TypeError: equals() missing 1 required positional argument: 'other'

In [49]:
print(ages.get_values())

[37 61]

/Users/hoon-mini/DEV/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: FutureWarning: The 'get_values' method is deprecated and will be removed in a future version. Use '.to_numpy()' or '.array' instead.
  """Entry point for launching an IPython kernel.

In [52]:
print(ages.median())

49.0

In [62]:
print(ages.sample())

William Gosset    61
Name: Age, dtype: int64

In [63]:
print(ages.sort_values)

<bound method Series.sort_values of Rosaline Franklin    37
William Gosset       61
Name: Age, dtype: int64>

In [64]:
print(ages.to_frame())

                   Age
Rosaline Franklin   37
William Gosset      61

### 시리즈 메서드 정리

In [83]:
a = '2개 이상의 시리즈 연결'
b = '요약 통계량 계산'
c = '중복 값이 없는 시리즈 반환'
d = '시리즈에 해당 값을 가진 요소가 있는지 확인'
e = '시리즈 값 구하기(values 속성과 동일)'
f = '시리즈에 포함된 값이 있는지 확인'
g = '최솟값 반환'
h = '최댓값 반환'
i = '산술 평균 반환'
j = '중간값 반환'
k = '특정 값을 가진 시리즈 값을 교체'
l = '시리즈에서 임의의 값을 반환'
m = '값을 정렬'
n = '시리즈를 데이터프레임으로 변환'

series_method = pd.DataFrame({
    'explaination' : [a,b,c,d,e,f,g,h,i,j,k,l,m,n]},
    index=['append', 'describe', 'drop_duplicates', 'equals', 'get_values', 'isin', 'min', 'max', 'mean', 'median', 'replace', 'sample', 'sort_values', 'to_frame'])
print(series_method)

                             explaination
append                      2개 이상의 시리즈 연결
describe                        요약 통계량 계산
drop_duplicates           중복 값이 없는 시리즈 반환
equals           시리즈에 해당 값을 가진 요소가 있는지 확인
get_values       시리즈 값 구하기(values 속성과 동일)
isin                   시리즈에 포함된 값이 있는지 확인
min                                최솟값 반환
max                                최댓값 반환
mean                             산술 평균 반환
median                             중간값 반환
replace                특정 값을 가진 시리즈 값을 교체
sample                    시리즈에서 임의의 값을 반환
sort_values                         값을 정렬
to_frame                 시리즈를 데이터프레임으로 변환

# 시리즈와 불린 추출 사용하기

In [65]:
scientists = pd.read_csv('../data/scientists.csv')

In [66]:
ages = scientists['Age']
print(ages.max())

90

In [67]:
print(ages.mean())

59.125

In [68]:
print(ages[ages > ages.mean()])

1    61
2    90
3    66
7    77
Name: Age, dtype: int64

In [69]:
print(ages > ages.mean())

0    False
1     True
2     True
3     True
4    False
5    False
6    False
7     True
Name: Age, dtype: bool

In [70]:
print(type(ages > ages.mean()))

<class 'pandas.core.series.Series'>

In [71]:
manual_bool_values = [True, True, False, False, True, True, False, True]
print(ages[manual_bool_values])

0    37
1    61
4    56
5    45
7    77
Name: Age, dtype: int64

# 시리즈와 브로드캐스팅

### 여러 개의 값을 가진 데이터 : 벡터, 단순 크기를 나타내는 데이터 : 스칼라

In [72]:
print(ages + ages)

0     74
1    122
2    180
3    132
4    112
5     90
6     82
7    154
Name: Age, dtype: int64

In [84]:
print(ages * ages)

0    1369
1    3721
2    8100
3    4356
4    3136
5    2025
6    1681
7    5929
Name: Age, dtype: int64

In [85]:
print(ages + 100)
print(ages * 2)

0    137
1    161
2    190
3    166
4    156
5    145
6    141
7    177
Name: Age, dtype: int64
0     74
1    122
2    180
3    132
4    112
5     90
6     82
7    154
Name: Age, dtype: int64

In [87]:
print(pd.Series([1,100]))

print(ages + pd.Series([1, 100]))

0      1
1    100
dtype: int64
0     38.0
1    161.0
2      NaN
3      NaN
4      NaN
5      NaN
6      NaN
7      NaN
dtype: float64

In [88]:
rev_ages = ages.sort_index(ascending=False)
print(rev_ages)

7    77
6    41
5    45
4    56
3    66
2    90
1    61
0    37
Name: Age, dtype: int64

# 데이터프레임과 불린 추출

In [89]:
s = scientists[scientists['Age'] > scientists['Age'].mean()]
print(s)

                   Name        Born        Died  Age     Occupation
1        William Gosset  1876-06-13  1937-10-16   61   Statistician
2  Florence Nightingale  1820-05-12  1910-08-13   90          Nurse
3           Marie Curie  1867-11-07  1934-07-04   66        Chemist
7          Johann Gauss  1777-04-30  1855-02-23   77  Mathematician

In [94]:
print(scientists.loc[[True, True, False, True]])

IndexError: Item wrong length 4 instead of 8.

# 데이터프레임과 브로드캐스팅

In [95]:
print(scientists * 2)

                                       Name                  Born  \
0        Rosaline FranklinRosaline Franklin  1920-07-251920-07-25
1              William GossetWilliam Gosset  1876-06-131876-06-13
2  Florence NightingaleFlorence Nightingale  1820-05-121820-05-12
3                    Marie CurieMarie Curie  1867-11-071867-11-07
4                Rachel CarsonRachel Carson  1907-05-271907-05-27
5                        John SnowJohn Snow  1813-03-151813-03-15
6                    Alan TuringAlan Turing  1912-06-231912-06-23
7                  Johann GaussJohann Gauss  1777-04-301777-04-30

                   Died  Age                            Occupation
0  1958-04-161958-04-16   74                        ChemistChemist
1  1937-10-161937-10-16  122              StatisticianStatistician
2  1910-08-131910-08-13  180                            NurseNurse
3  1934-07-041934-07-04  132                        ChemistChemist
4  1964-04-141964-04-14  112                    BiologistBiologist
5  1858-06-161858-06-16   90                    PhysicianPhysician
6  1954-06-071954-06-07   82  Computer ScientistComputer Scientist
7  1855-02-231855-02-23  154            MathematicianMathematician

# 열의 자료형 바꾸기와 새로운 열 추가하기

In [97]:
print(scientists['Born'].dtype)

print(scientists['Died'].dtype)

object
object

# 시리즈, 데이터프레임의 데이터 섞어보기

In [116]:
born_datetime = pd.to_datetime(scientists['Born'], format='%Y-%m-%d')
print(born_datetime)

0   1920-07-25
1   1876-06-13
2   1820-05-12
3   1867-11-07
4   1907-05-27
5   1813-03-15
6   1912-06-23
7   1777-04-30
Name: Born, dtype: datetime64[ns]

In [117]:
died_datetime = pd.to_datetime(scientists['Died'], format='%Y-%m-%d')
print(died_datetime)

0   1958-04-16
1   1937-10-16
2   1910-08-13
3   1934-07-04
4   1964-04-14
5   1858-06-16
6   1954-06-07
7   1855-02-23
Name: Died, dtype: datetime64[ns]

In [121]:
scientists['born_dt'], scientists['died_dt'] = (born_datetime, died_datetime)
print(scientists.head())

                   Name        Born        Died  Age    Occupation    born_dt  \
0     Rosaline Franklin  1920-07-25  1958-04-16   37       Chemist 1920-07-25
1        William Gosset  1876-06-13  1937-10-16   61  Statistician 1876-06-13
2  Florence Nightingale  1820-05-12  1910-08-13   90         Nurse 1820-05-12
3           Marie Curie  1867-11-07  1934-07-04   66       Chemist 1867-11-07
4         Rachel Carson  1907-05-27  1964-04-14   56     Biologist 1907-05-27

     died_dt age_days_dt
0 1958-04-16      0 days
1 1937-10-16      0 days
2 1910-08-13      0 days
3 1934-07-04      0 days
4 1964-04-14      0 days

In [122]:
print(scientists.shape)

(8, 8)

In [141]:
scientists['age_days_dt'] = scientists['died_dt'] - scientists['born_dt']
print(scientists)

                   Name        Born        Died  Age          Occupation  \
0     Rosaline Franklin  1920-07-25  1958-04-16   66             Chemist
1        William Gosset  1876-06-13  1937-10-16   56        Statistician
2  Florence Nightingale  1820-05-12  1910-08-13   41               Nurse
3           Marie Curie  1867-11-07  1934-07-04   77             Chemist
4         Rachel Carson  1907-05-27  1964-04-14   90           Biologist
5             John Snow  1813-03-15  1858-06-16   45           Physician
6           Alan Turing  1912-06-23  1954-06-07   37  Computer Scientist
7          Johann Gauss  1777-04-30  1855-02-23   61       Mathematician

     born_dt    died_dt age_days_dt
0 1920-07-25 1958-04-16  13779 days
1 1876-06-13 1937-10-16  22404 days
2 1820-05-12 1910-08-13  32964 days
3 1867-11-07 1934-07-04  24345 days
4 1907-05-27 1964-04-14  20777 days
5 1813-03-15 1858-06-16  16529 days
6 1912-06-23 1954-06-07  15324 days
7 1777-04-30 1855-02-23  28422 days

In [142]:
print(scientists['Age'])

0    66
1    56
2    41
3    77
4    90
5    45
6    37
7    61
Name: Age, dtype: int64

In [143]:
import random

random.seed(42)
random.shuffle(scientists['Age'])
print(scientists['Age'])

0    77
1    90
2    37
3    61
4    41
5    45
6    66
7    56
Name: Age, dtype: int64

/Users/hoon-mini/DEV/anaconda3/lib/python3.7/random.py:278: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  x[i], x[j] = x[j], x[i]

# 데이터프레임의 열 삭제하기

In [144]:
print(scientists.columns)

Index(['Name', 'Born', 'Died', 'Age', 'Occupation', 'born_dt', 'died_dt',
       'age_days_dt'],
      dtype='object')

In [145]:
scientists_dropped = scientists.drop(['Age'], axis=1)
print(scientists_dropped.columns)

Index(['Name', 'Born', 'Died', 'Occupation', 'born_dt', 'died_dt',
       'age_days_dt'],
      dtype='object')

# 03-6 데이터 저장하고 불러오기

1. 피클로 저장하기

In [146]:
names = scientists['Name']
names.to_pickle('../output/scientists_names_series_byhoon.pickle')

In [136]:
scientists.to_pickle('../output/scientists_df_byhoon.pickle')

In [137]:
scientist_names_from_pickle = pd.read_pickle('../output/scientists_names_series.pickle')
print(scientist_names_from_pickle)

0       Rosaline Franklin
1          William Gosset
2    Florence Nightingale
3             Marie Curie
4           Rachel Carson
5               John Snow
6             Alan Turing
7            Johann Gauss
Name: Name, dtype: object

# CSV 불러오기

In [147]:
names.to_csv('../output/scientists_names_series_byhoon.csv')
scientists.to_csv('../output/scientists_df_byhoon.tsv', sep='\t')

/Users/hoon-mini/DEV/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: FutureWarning: The signature of `Series.to_csv` was aligned to that of `DataFrame.to_csv`, and argument 'header' will change its default value from False to True: please pass an explicit value to suppress this warning.
  """Entry point for launching an IPython kernel.

### 시리즈를 데이터프레임으로 변환 후 엑셀파일로 저장하기

In [151]:
names_df = names.to_frame()

import xlwt
names_df.to_excel('../output/scientists_names_series_df_byhoon.xlsx')

import openpyxl
names_df.to_excel('../output/scientists_names_series.xlsx')